<template>
    <h1>Character</h1>
    <p>
        Load character data from dndbeyond via character id.
        <code>https://character-service.dndbeyond.com/character/v5/character/[characterId]</code>
    </p>
    <label>
        Character Id
        <input type="text" v-model="characterId" />
    </label>
    <button @click="onChangeCharacterId">Go</button>
    <p v-if="loading">Loading...</p>
    <p>Name: {{ character.name }}</p>
    <p>HP: {{ hp - character.removedHitPoints }} / {{ hp }}</p>
    <pre>{{ character }}</pre>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { character as fetchCharacter } from '../api';

const characterId = ref("69117391");
const character = ref({});
const hp = ref(0);
const loading = ref(false);

async function onChangeCharacterId() {
    loading.value = true;
    character.value = await fetchCharacter(characterId.value);
    hp.value = calculateHP();
    loading.value = false;
}

function calculateHP(): number {
    const hit = getHitDice();
    const con = calculateConstitution();
    return (hit + con) + (character.value.classes[0].level - 1) * (Math.floor(hit / 2) + 1 + con);
}

function calculateConstitution(): number {
    return character.value.stats[2].value - 11;
}

function getHitDice(): number {
    switch (character.value.classes[0].definition.name.toLowerCase()) {
        case 'barbarian':
            return 12;

        case 'fighter':
        case 'ranger':
        case 'paladin':
            return 10;

        case 'wizard':
        case 'sorcerer':
            return 6;

        default:
            return 8;
    }
}

</script>