<template>
    <h1>Encounter</h1>
    <p>
        Load encounter info
        <code>https://encounter-service.dndbeyond.com/v1/encounters/[encounterId]</code>
    </p>
    <label>
        Encounter Id
        <input type="text" v-model="encounterId" />
    </label>
    <button @click="onClickGo">Go</button>
    <pre>{{ encounter }}</pre>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { encounter as fetchEncounter } from '../api';

const encounterId = ref("d80d3bd2-ef53-47e9-a2f9-1e7ab451dc7d");
const encounter = ref({});
const loading = ref(false);

async function onClickGo() {
    loading.value = true;
    encounter.value = await fetchEncounter(encounterId.value);
    loading.value = false;
}

</script>