<template>
  <h3>Open endpoints</h3>
  <p>
    Character info
    <code>https://character-service.dndbeyond.com/character/v5/character/[characterId]</code>
  </p>
  <p>
    Monster list
    <code>https://monster-service.dndbeyond.com/v1/Monster</code>
  </p>
  <p>
    Spell list (Generic)
    <code>https://character-service.dndbeyond.com/character/v5/game-data/always-known-spells</code>
  </p>
  <p>
    Encounter info
    <code>https://encounter-service.dndbeyond.com/v1/encounters/[encounterId]</code>
  </p>
  <p>
    Site config (Refs eg. Sources)
    <code>https://www.dndbeyond.com/api/config/json</code>
  </p>

  <h3>Require authentication</h3>
  <p>
    Spell list (Character/class)
    <code>https://character-service.dndbeyond.com/character/v5/game-data/spells</code>
  </p>
  <p>
    Class list
    <code>https://character-service.dndbeyond.com/character/v5/game-data/classes</code>
  </p>
  <p>
    Subclass list
    <code>https://character-service.dndbeyond.com/character/v5/game-data/subclasses</code>
  </p>

  <h3>CORS</h3>
  <p>
    Endpoints are restricted by CORS so glitch.com is used to proxy requests
    <a
      href="https://glitch.com/edit/#!/spicy-political-bovid"
    >https://glitch.com/edit/#!/spicy-political-bovid</a>
  </p>
</template>


<style scoped>
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
</style>
