<template>
    <h1>Spells</h1>
    <p>WIP, currently hard coded to Druid Circle of the Shepherd.</p>
    <label>
        Class
        <select v-model="classIdSelected">
            <option v-for="item in classOptions" :value="item.id">{{ item.name }}</option>
        </select>
    </label>
    <!-- <label>
        Subclass
        <select v-model="subclassIdSelected">
            <option v-for="item in subClassFiltered" :value="item.id">{{ item.name }}</option>
        </select>
    </label>-->
    <label>
        Level
        <select v-model="classLevelSelected">
            <option v-for="(_, index) in Array(20)">{{ index + 1 }}</option>
        </select>
    </label>
    <button @click="onClickAll">All</button>
    <button @click="onClickShuffle">Shuffle</button>
    <table class="spell-table">
        <tr>
            <th>Index</th>
            <th>Spell Level</th>
            <th>Name</th>
            <th>Description</th>
            <th>Components</th>
            <th>Casting</th>
            <th>Duration</th>
            <!-- <th>Sources</th> -->
        </tr>
        <tr v-for="(item, index) in spells">
            <td>{{ index + 1 }}</td>
            <td>{{ item.definition.level }}</td>
            <td>
                <a :href="item.url" target="__blank" rel="noopener">
                    <strong>{{ item.definition.name }}</strong>
                </a>
            </td>
            <td v-html="item.definition.description"></td>
            <td>{{ item.definition.componentsDescription }}</td>
            <td>{{ item.definition.activation.activationTime }} {{ renderActionType(item.definition.activation.activationType) }}</td>
            <td
                v-if="item.definition.duration.durationInterval"
            >{{ item.definition.duration.durationInterval }} {{ item.definition.duration.durationUnit }} {{ item.definition.duration.durationType }}</td>
            <td v-else>{{ item.definition.duration.durationType }}</td>
            <!-- <td>
                <p v-for="sourceItem in item.definition.sources">{{ sourceItem.description }}</p>
            </td>-->
        </tr>
    </table>
</template>

<script setup lang="ts">
import { ref, computed, watch } from "vue";
import classOptions from "../data/class.json";
import subclassOptions from "../data/subclass.json";
import source from "../data/source.json";
// import { spells as fetchSpells } from '../api';
import spellsAlwaysDruid from "../data/spells-always-druid-4th.json";
import spellsShepherd from "../data/circle-of-shepherd.json";

const classIdSelected = ref(3);
const classLevelSelected = ref(4);
// const subclassIdSelected = ref<number | null>(null);
const spells = ref([]);

// watch(classIdSelected, () => {
//     subclassIdSelected.value = null;
// });

// const subClassFiltered = computed(() => subclassOptions[classIdSelected.value.toString()]);

async function onClickAll() {
    // spells.value = (await fetchSpells(
    //     subclassIdSelected.value?.toString() || classIdSelected.value.toString(),
    //     classLevelSelected.value.toString())).map((item) => {
    //         return {
    //             ...item,
    //             definition: {
    //                 ...item.definition,
    //                 sources: source.filter(sourceItem => {
    //                     for (let i = 0; i < item.definition.sources.length; i++) {
    //                         return sourceItem.id == item.definition.sources[i].sourceId;
    //                     }
    //                 })
    //             }
    //         }
    //     })
    //     .sort((a, b) => { return a.definition.level > b.definition.level });

    spells.value = spellsAlwaysDruid.concat(spellsShepherd)
        .sort((a, b) => { return a.definition.level > b.definition.level });
}
async function onClickShuffle() {
    // spells.value = await fetchSpells(
    //     classIdSelected.value.toString(),
    //     classLevelSelected.value.toString());

    const spellsAll = spellsAlwaysDruid.concat(spellsShepherd);
    const spellsCantrip = spellsAll.filter(s => s.definition.level == 0);
    const spellL1 = spellsAll.filter(s => s.definition.level == 1);
    const spellL2 = spellsAll.filter(s => s.definition.level == 2);

    const spellsShuffle = [];

    let lastTargetIndex: number[] = [];
    let max = spellsCantrip.length - 1;
    for (let i = 0; i < 3;) {
        const targetIndex = Math.floor(Math.random() * max);
        if (!lastTargetIndex.includes(targetIndex)) {
            lastTargetIndex.push(targetIndex);
            i++;
            spellsShuffle.push(spellsCantrip[targetIndex]);
        }
    }
    lastTargetIndex = [];
    max = spellL1.length - 1;
    for (let i = 0; i < 4;) {
        const targetIndex = Math.floor(Math.random() * max);
        if (!lastTargetIndex.includes(targetIndex)) {
            lastTargetIndex.push(targetIndex);
            i++;
            spellsShuffle.push(spellL1[targetIndex]);
        }
    }
    lastTargetIndex = [];
    max = spellL2.length - 1;
    for (let i = 0; i < 3;) {
        const targetIndex = Math.floor(Math.random() * max);
        if (!lastTargetIndex.includes(targetIndex)) {
            lastTargetIndex.push(targetIndex);
            i++;
            spellsShuffle.push(spellL2[targetIndex]);
        }
    }

    spells.value = spellsShuffle.map(s => ({
        ...s,
        url: 'https://www.dndbeyond.com/spells/' + s.definition.name.toLowerCase().replaceAll(' ', '-')
    }));
}

function renderActionType(type: number) {
    switch (type) {
        case 2:
            return "Action";
        case 3:
            return "Bonus Action";
        case 4:
            return "Reaction";
    }
    return "Action";
}
</script>

<style scoped>
.spell-table {
    text-align: left;
    margin-top: 24px;
}
.spell-table,
.spell-table th,
.spell-table td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 12px 12px 0 12px;
}
.spell-table th,
.spell-table strong {
    white-space: nowrap;
}
</style>

<style>
.spell-table p {
    margin: 0 0 12px 0;
}
</style>