<template>
  <router-link to="/">Home</router-link>
  <router-link to="/Spells">Spells</router-link>
  <router-link to="/character">Character</router-link>
  <router-link to="/encounter">Encounter</router-link>
  <router-view></router-view>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin: 60px auto;
  max-width: 1200px;
}
a {
  color: #2c3e50;
}
</style>

<style scoped>
a {
  margin: 0 24px 24px 0;
  display: inline-block;
}
</style>
